<% if object.errors.any? %>
    <section class="errors">
        <p>
            Oops! Your form could not be saved.
        </p>
        <p>
            Please correct the following
            <%= pluralize(object.errors.size, "error") %>:
        </p>
        <ul>
            <% object.errors.full_messages.each do |message|%>

                <l1 class="error-message"> <%= message %> </li>


            <% end %>
        </ul>
    </section>
<% end %>
